# Requirements for both Travis and AppVeyor
pytest
psutil

# Coverage upload
coverage
codecov

wheel
pycparser
clr-loader==0.2.*

# Discover libpython
find_libpython==0.3.*
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
